body {
  background-color: #e1e3e9;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 159px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.slick-slide {
  margin-right: 43px;
}

@keyframes move-right {
  0% {
    transform: translateX(100vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(-100vh);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  max-width: 1208px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.details {
  margin-top: 137px;
}

.left-arrow,
.right-arrow {
  width: 29px;
  height: 29px;
  position: absolute;
}
